body {
    background-color: #FCF7E3;
    font-family: Arial, Helvetica, sans-serif;

}

#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 2%;
    justify-content: space-around;
    border-radius: 20px;
    margin-left: 0px;
    align-items: center;
    color: #62220A;
    box-shadow: 10px 10px 5px #F3DF86;

}

.buttonmenu {
    width: 10%;
    height: 50px;
    background-color: #F3DF86;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonmenu img {
    width: 20%;
}

.buttonmenu:nth-of-type(3) {
    width: 15%;
    height: 75px;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
}

article {
    margin: 0, 300px;
}

article {
    margin: auto, auto;
}

#article {
    width: 80%;
    height: auto;
    display: flex;
    gap: 10px;
    margin: auto;
    box-shadow: 10px 10px 5px #F3DF86;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;

}

#article img {
    width: 80%
}

#card {
    display: flex;
    width: 200px;
    height: 300px;
    border-radius: 50px;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background-color: #F3DF86;
    align-items: center;
    color: #62220A;
    font-weight: bold;


}

#card img {
    width: 200px;
    height: 200px;
    border-radius: 50px 50px 0px 0px;
    object-fit: cover;


}

#card button {
    width: 50%;
    border-radius: 30px;
    background-color: #F2DF8A;
    color: #62220A;

}

#card span {
    margin-left: 20px;
}

#card span:nth-of-type(2) {
    font-size: small;
    margin-left: 0px;
}

#containercard {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    #article {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:992px) {
    #navbar{
        font-size:small;
    }
    .buttonmenu:nth-of-type(3){
        font-size: small;
    }
    .buttonmenu {
        width: 15%;
        
    }
}